<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/sign-in/"
    />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="css"> -->
  </head>
  <body class="text-center">
    <!-- <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" />
    </form> -->
    <!-- <div > -->
    <main class="form-signin w-50 m-auto">
      <form action="/login" method="POST">
        <!-- <img
          class="mb-4"
          src="../assets/brand/bootstrap-logo.svg"
          alt=""
          width="72"
          height="57"
        /> -->

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div> -->

        <input type="submit" class="w-100 btn btn-lg btn-primary" />
        <!-- <button class="w-100 btn btn-lg btn-primary" type="input">
          Sign in
        </button> -->
      </form>
    </main>
    <!-- </div> -->
  </body>
</html>
